<%- include('./partials/head') %>

  <body>
    <div id="main">
      <div id="languageSwitcher"
        class="cursor-pointer fixed bottom-[20px] left-[20px] z-[99] px-[10px] py-[8px] space-y-4 lang bg-white">
        <div class="md:text-[1vw] text-[3.5vw] flex items-center gap-[5px]">
          English
        </div>
        <div class="md:text-[1vw] text-[3.5vw] flex items-center gap-[5px]">
          <a href="https://iiitn-ac-in.translate.goog/?_x_tr_sl=auto&_x_tr_tl=hi&_x_tr_hl=en">Hindi</a>
        </div>
        <div class="md:text-[1vw] text-[3.5vw] flex items-center gap-[5px]">
          <a href="https://iiitn-ac-in.translate.goog/?_x_tr_sl=auto&_x_tr_tl=bn&_x_tr_hl=en">Bengali</a>
        </div>
        <div id="mainLang" class="md:text-[1vw] text-[3.5vw] flex items-center gap-[5px]" onclick="toggleLanguages()">
          Languages <i id="arrow" class="ri-arrow-up-s-line font-[18px] transition-transform"></i>
        </div>
      </div>

      <div id="page1" class="w-full h-screen">
        <%- include('./partials/nav') %>

          <div class="hero w-full h-full relative">
            <div class="bg-black/30 absolute top-0 left-0 w-full h-full"></div>
            <div
              class="flex flex-col absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full mx-auto text-center">
              <div class="pt-2 overflow-hidden lg:h-[5vw] md:h-[5vw] h-[7vw]">
                <div class="text-container space-y-8 w-full">
                  <h1
                    class="leading-none  font-bold font-[font2] lg:text-[3.5vw] md:text-[3vw] text-[4vw] text-white tracking-tighter">
                    Indian Institute of Information Technology Nagpur
                  </h1>
                  <h1
                    class="leading-none font-bold font-[font2] lg:text-[3.5vw] md:text-[3vw] text-[4vw] text-white tracking-tighter">
                    भारतीय सूचना प्रौद्योगिकी संस्थान नागपुर
                  </h1>
                  <h1
                    class="leading-none font-bold font-[font2] lg:text-[3.5vw] md:text-[3vw] text-[4vw] text-white tracking-tighter">
                    Indian Institute of Information Technology Nagpur
                  </h1>
                </div>
              </div>
            </div>
            <div
              class="dets-box bg-[black]/60 md:w-[300px] md:h-[300px] w-[200px] h-[200px] absolute bottom-[40px] right-[50px] z-[95] text-white p-[10px]">
              <p class="md:py-4 py-2 lg:text-[16px] text-[10px]">
                We're delighted to have you here! Explore our vibrant campus, academic programs, research initiatives,
                and student life. Whether you're a prospective student, alumni, or just curious, we invite you to
                discover what makes IIIT Nagpur a hub of learning, innovation, and excellence.
              </p>
            </div>
            <div
              class="dets flex items-center justify-center w-[60px] h-[60px] rounded-full bg-[black]/90 absolute bottom-[30px] right-[40px] z-[95] text-white">
              <i class="ri-lightbulb-line bulb text-white text-[25px]"></i>
            </div>
            <img class="w-full h-full object-cover" src="../images/index/11.jpg" alt="" />
          </div>
      </div>

      <div id="announcements" class="w-full pt-10 md:pb-24 pb-16 bg-zinc-100/80">
        <h1 class="md:text-[2vw] text-[6vw] md:pl-[6vw] pl-[12vw] text-[#00457b] font-medium">Announcements</h1>
        <div class="flex md:flex-row flex-col justify-evenly w-full mx-auto md:px-12 px-2 md:my-2">
          <!-- first 2 from studentNotice -->
          <div class="ann1 md:w-[32%] px-2 w-full relative">
            <% studentNotice.slice(0,2).forEach(function(item){ %>
              <div class="flex items-center py-2 md:gap-4 gap-2">
                <i class="ri-arrow-right-s-fill md:text-[2vw] text-[6vw] text-[#f26e32]"></i>
                <a href="<%= item.link %>" class="md:text-[1.2vw] text-[4.5vw]" target="_blank">
                  <%= item.title %>
                </a>
              </div>
              <% }) %>
          </div>
          <!-- next 2 from studentNotice -->
          <div class="ann1 md:w-[32%] px-2 w-full relative">
            <% studentNotice.slice(2,4).forEach(function(item){ %>
              <div class="flex items-center py-2 md:gap-4 gap-2">
                <i class="ri-arrow-right-s-fill md:text-[2vw] text-[6vw] text-[#f26e32]"></i>
                <a href="<%= item.link %>" class="md:text-[1.2vw] text-[4.5vw]" target="_blank">
                  <%= item.title %>
                </a>
              </div>
              <% }) %>
          </div>
          <!-- last 2 from facultyNotice -->
          <div class=" md:w-[32%] px-2 w-full relative">
            <% facultyNotice.slice(0,2).forEach(function(item){ %>
              <div class="flex items-center py-2 md:gap-4 gap-2">
                <i class="ri-arrow-right-s-fill md:text-[2vw] text-[6vw] text-[#f26e32]"></i>
                <a href="<%= item.link %>" class="md:text-[1.2vw] text-[4.5vw]" target="_blank">
                  <%= item.title %>
                </a>
              </div>
              <% }) %>
          </div>
        </div>

        <div class="flex justify-center items-center mt-12">
          <a href="/readMore">
            <button
              class="px-10 py-2 text-[#f26e32] bg-zinc-100/80 font-semibold border-2 border-[#f26e32] hover:bg-[#f26e32] hover:scale-105 hover:text-white transition flex items-center gap-2 lg:text-[1vw] md:text-[1.8vw] text-[4vw]">
              Read More
            </button>
          </a>
        </div>
      </div>

      <div id="page3b" class="w-full h-full  pb-10">
        <div class="page7b">
          <h1
            class="main font-bold text-[#00457b] text-center lg:text-[3vw] md:text-[4vw] text-[6vw] mb-2 uppercase pt-2 md:pb-5 uppercase">
            Academics</h1>
          <p class="text-center lg:text-[1.5vw] md:text-[2vw] text-[3vw] leading-none px-4 pb-10">
            Enhance intellectual growth via seminars, study groups, and debates that deepen subject knowledge.
          </p>
        </div>
        <div class="swiper mySwiper6">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="w-full h-full mb-10 rounded-md overflow-hidden px-2">
                <div class="bg-zinc-200 w-full md:h-64 h-24">
                  <img src="../images/index/acad1.avif" alt="image" class="w-full h-full object-cover" />
                </div>
                <div class="w-full h-fit">
                  <h1 class="font-medium pt-4 pb-2 md:text-[1.5vw] text-[3.5vw] leading-none">
                    Undergraduate Education
                  </h1>
                  <!-- <p class="text-blue-500 md:text-[1.2vw] text-[3vw]">
                      <a href="#" target="_blank">checkout</a>
                    </p> -->
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="w-full h-full mb-10 rounded-md overflow-hidden px-2">
                <div class="bg-zinc-200 w-full md:h-64 h-24">
                  <img src="../images/index/acad2.jpg" alt="image" class="w-full h-full object-cover" />
                </div>
                <div class="w-full h-fit">
                  <h1 class="font-medium pt-4 pb-2 md:text-[1.5vw] text-[3.5vw] leading-none">
                    Doctoral Programme
                  </h1>
                  <!-- <p class="text-blue-500 md:text-[1.2vw] text-[3vw]">
                      <a href="#" target="_blank">checkout</a>
                    </p> -->
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="w-full h-full mb-10 rounded-md overflow-hidden px-2">
                <div class="bg-zinc-200 w-full md:h-64 h-24">
                  <img src="../images/index/acad3.jpg" alt="image" class="w-full h-full object-cover" />
                </div>
                <div class="w-full h-fit">
                  <h1 class="font-medium pt-4 pb-2 md:text-[1.5vw] text-[3.5vw] leading-none">
Programs
                  </h1>
                  <!-- <p class="text-blue-500 md:text-[1.2vw] text-[3vw]">
                      <a href="#" target="_blank">checkout</a>
                    </p> -->
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="flex justify-center items-center mt-12">
          <a href="/readMore/academicReadMore">
            <button
            class="px-10 py-2 text-[#f26e32] bg-zinc-100/80 font-semibold border-2 border-[#f26e32] hover:bg-[#f26e32] hover:scale-105 hover:text-white transition flex items-center gap-2 lg:text-[1vw] md:text-[1.8vw] text-[4vw]">
              Read More
            </button>
          </a>
        </div>
      </div>

      <div id="page3" class="page2b md:px-8 px-4 md:pb-24 pb-12">
        <h1
          class="main font-bold text-[#00457b] text-center lg:text-[2.5vw] md:text-[4vw] text-[5vw] mb-2 uppercase pt-2 md:pb-5 uppercase">
          STATS & FIGURES
        </h1>
        <div class="container w-full mx-auto flex justify-between items-center">
          <div class="tab text-center">
            <h1 class="num text-[#f26e32] font-bold text-[2vw]" data-target="3">
              0
            </h1>
            <h1 class="desc text-[#00457b] lg:text-[1.5vw] text-[2vw] font-semibold">
              DEPARTMENTS
            </h1>
          </div>
          <div class="tab text-center">
            <h1 class="num text-[#f26e32] font-bold text-[2vw]" data-target="1500">
              0
            </h1>
            <h1 class="desc text-[#00457b] lg:text-[1.5vw] text-[2vw] font-semibold">
              STUDENTS
            </h1>
          </div>
          <div class="tab text-center">
            <h1 class="num text-[#f26e32] font-bold text-[2vw]" data-target="50">
              0
            </h1>
            <h1 class="desc text-[#00457b] lg:text-[1.5vw] text-[2vw] font-semibold">
              FACULTIES
            </h1>
          </div>
          <div class="tab text-center">
            <h1 class="num text-[#f26e32] font-bold text-[2vw]" data-target="23">
              0
            </h1>
            <h1 class="desc text-[#00457b] lg:text-[1.5vw] text-[2vw] font-semibold">
              PUBLICATIONS
            </h1>
          </div>
          <div class="tab text-center">
            <h1 class="num text-[#f26e32] font-bold text-[2vw]" data-target="13">
              0
            </h1>
            <h1 class="desc text-[#00457b] lg:text-[1.5vw] text-[2vw] font-semibold">
              PATENTS
            </h1>
          </div>
        </div>
      </div>

      <div id="page7" class="w-full h-full  lg:pb-24 md:pb-16 pb-10">
        <div class="page7b">
          <h1
            class="main font-bold text-[#00457b] text-center lg:text-[3vw] md:text-[4vw] text-[6vw] mb-2 uppercase pt-2 md:pb-5 uppercase">
            Research</h1>
          <p class="text-center lg:text-[1.5vw] md:text-[2vw] text-[3vw] leading-none px-4 mb-10">
            Advancing discoveries that shape our world, well-being, and knowledge.
          </p>
        </div>

        <div
          class="flex md:flex-row flex-col justify-evenly border-b-2 border-t-2 border-black w-[90%] mx-auto py-10 my-10">
          <div class="pb-8 text-center category-heading cursor-pointer" data-category="research"
            data-link="research">
            <div class="flex text-center w-fit mx-auto">
              <h1 class="text-[#f26e32] font-bold md:text-[2vw] text-[6vw]">Consultancy</h1>
            </div>
            <p class="font-regular md:text-[1.3vw] text-[4.5vw]">
              Hands-on learning experiences to enhance skills.
            </p>
          </div>
          <div class="pb-8 text-center category-heading cursor-pointer" data-category="research"
            data-link="research?category=publication">
            <div class="flex text-center w-fit mx-auto">
              <h1 class="text-[#f26e32] font-bold md:text-[2vw] text-[6vw]">Publications</h1>
            </div>
            <p class="font-regular md:text-[1.3vw] text-[4.5vw]">
              Insights from experts across various domains.
            </p>
          </div>
          <div class="pb-8 text-center category-heading cursor-pointer" data-category="research"
            data-link="research?category=funded">
            <div class="flex text-center w-fit mx-auto">
              <h1 class="text-[#f26e32] font-bold md:text-[2vw] text-[6vw]">Funded Projects</h1>
            </div>
            <p class="font-regular md:text-[1.3vw] text-[4.5vw]">
              Advancing knowledge through groundbreaking research.
            </p>
          </div>
        </div>

        <div class="swiper mySwiper6">
          <div class="swiper-wrapper">
            <% research.forEach(function(item) { %>
              <div class="swiper-slide">
                <div class="w-full h-full mb-10 rounded-md overflow-hidden px-2">
                  <div class="bg-zinc-200 w-full md:h-64 h-24">
                    <img src="<%= item.image %>" alt="<%= item.title %>" class="w-full h-full object-cover" />
                  </div>
                  <div class="w-full h-fit">
                    <h1 class="pt-4  md:text-[1.1vw] text-[3.5vw] leading-none">
                      <%= item.title %>
                    </h1>
                    <p class="text-[#f26e32] md:text-[1.2vw] text-[3vw] hover:text-[#f26e32] hover:underline">
                      <a href="/research" target="_blank">checkout</a>
                    </p>
                  </div>
                </div>
              </div>
              <% }) %>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="flex justify-center items-center mt-12">
          <a href="/research">
            <button
              class="px-10 py-2 text-[#f26e32] bg-zinc-100/80 font-semibold border-2 border-[#f26e32] hover:bg-[#f26e32] hover:scale-105 hover:text-white transition flex items-center gap-2 lg:text-[1vw] md:text-[1.8vw] text-[4vw]">
              Read More
            </button>
          </a>
        </div>
      </div>

      <div id="page7b" class="w-full h-full  lg:pb-12 md:pb-16 pb-10 px-4">
        <div class="page7b">
          <h1
            class="main font-bold text-[#00457b] text-center lg:text-[3vw] md:text-[4vw] text-[6vw] mb-2 uppercase pt-2 md:pb-5 uppercase">
            Clubs & Events</h1>
        </div>
        <div class="swiper mySwiper4b text-center ">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div
                class="bg-zinc-100/80 hover:scale-105 transition-all w-full h-full mb-10 overflow-hidden rounded-md event-box">
                <div class="w-full h-72 ">
                  <img class="w-full h-full object-cover" src="../images/clubs/2.webp" alt="Event Image" />
                </div>
                <h1 class="text-[#00457b] font-semibold lg:text-[1.2vw] md:text-[2vw] text-[5vw] pt-2">
                  Trail Traizer
                </h1>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="bg-zinc-100/80 hover:scale-105 transition-all w-full h-full mb-10 overflow-hidden rounded-md event-box">
                <div class="w-full h-72 ">
                  <img class="w-full h-full object-cover" src="../images/clubs/11.webp" alt="Event Image" />
                </div>
                <h1 class="text-[#00457b] font-semibold lg:text-[1.2vw] md:text-[2vw] text-[5vw] pt-2">
                  AR / VR
                </h1>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="bg-zinc-100/80 hover:scale-105 transition-all w-full h-full mb-10 overflow-hidden rounded-md event-box">
                <div class="w-full h-72 ">
                  <img class="w-full h-full object-cover" src="../images/clubs/4.webp" alt="Event Image" />
                </div>
                <h1 class="text-[#00457b] font-semibold lg:text-[1.2vw] md:text-[2vw] text-[5vw] pt-2">
                  Talent Showcase
                </h1>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="bg-zinc-100/80 hover:scale-105 transition-all w-full h-full mb-10 overflow-hidden rounded-md event-box">
                <div class="w-full h-72 ">
                  <img class="w-full h-full object-cover" src="../images/clubs/5.webp" alt="Event Image" />
                </div>
                <h1 class="text-[#00457b] font-semibold lg:text-[1.2vw] md:text-[2vw] text-[5vw] pt-2">
                  Street Play
                </h1>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="bg-zinc-100/80 hover:scale-105 transition-all w-full h-full mb-10 overflow-hidden rounded-md event-box">
                <div class="w-full h-72">
                  <img class="w-full h-full object-cover" src="../images/clubs/7.webp" alt="Event Image" />
                </div>
                <h1 class="text-[#00457b] font-semibold lg:text-[1.2vw] md:text-[2vw] text-[5vw] pt-2">
                  Band Performance
                </h1>
                </di v>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div></div>
          <div class="flex justify-center items-center mt-12">
            <a href="/club">
              <button
                class="px-10 py-2 text-[#f26e32] bg-zinc-100/80 font-semibold border-2 border-[#f26e32] hover:bg-[#f26e32] hover:scale-105 hover:text-white transition flex items-center gap-2 lg:text-[1vw] md:text-[1.8vw] text-[4vw]">
                Read More
              </button>
            </a>
          </div>
        </div> 
      </div>
        <div id="page7c" class="w-full  lg:pb-24 md:pb-16 pb-10">
          <div class="page7c">
            <h1
              class="main font-bold text-[#00457b] text-center lg:text-[3vw] md:text-[4vw] text-[6vw] mb-2 uppercase pt-2 md:pb-5 uppercase">
              Flagship Events</h1>
          </div>
          <div class="flex flex-wrap  justify-evenly gap-6 px-10 mt-6 text-[#00457b] ">
  
            <!-- Abhivyakti -->
            <a href="https://www.abhivyaktifest.in/" target="_blank" class="w-64 md:w-56 lg:w-64 ">
                <div class="w-full border-[#00457b] border-[1px] rounded-md overflow-hidden">
                    <div class="w-full md:h-64 h-full">
                        <img src="../images/index/abhivyakti.jpg" alt="Abhivyakti" class="w-full h-full object-contain" />
                    </div>
                  <div class="bg-white border-l-[1px] border-r-[1px] border-b-[1px] border-[#00457b]  rounded-bl-md rounded-br-md ">
                    <h1 class="font-semibold pt-4 px-2 md:text-3xl text-sm uppercase ">
                      Abhivyakti
                  </h1>
                  <h1 class=" pb-4 px-2 md:text-lg text-sm tracking-tight">Cultural Fest</h1>
                  </div>
                </div>
            </a>
        
            <!-- Tantrafiesta -->
            <a href="https://www.tantrafiesta.in/" target="_blank" class="w-64 md:w-56 lg:w-64">
                <div class="w-full rounded-md overflow-hidden">
                    <div class="w-full md:h-64 h-full">
                        <img src="../images/index/tantrafiesta.jpg" alt="Tantrafiesta" class="w-full h-full object-contain" />
                    </div>
                  <div class="bg-white border-l-[1px] border-r-[1px] border-b-[1px] border-[#00457b]  rounded-bl-md rounded-br-md ">
                      <h1 class="font-semibold pt-4 px-2 md:text-3xl text-sm uppercase ">
                        Tantrafiesta
                    </h1>
                    <h1 class=" pb-4 px-2 md:text-lg text-sm tracking-tight">Tech Fest</h1>
                    </div>
                </div>
            </a>
        
            <!-- Kshitij -->
            <a href="/others/Kshitij" target="_blank" class="w-64 md:w-56 lg:w-64 ">
                <div class="w-full rounded-md overflow-hidden border-[#00457b] border-[2px]">
                    <div class="w-full md:h-64 h-full">
                        <img src="../images/index/kshitij.jpg" alt="Kshitij" class="w-full h-full object-contain" />
                    </div>
                    <div class="bg-white rounded-bl-md rounded-br-md ">
                            <h1 class="font-semibold pt-4 px-2 md:text-3xl text-sm uppercase ">
                        Kshitij
                    </h1>
                    <h1 class=" pb-4 px-2 md:text-lg text-sm tracking-tight">Sports Fest</h1>
                    </div>
                </div>
              </a>
        
            <!-- E-Summit -->
            <a href="https://esummitiiitn.in/" target="_blank" class="w-64 md:w-56 lg:w-64">
                <div class="w-full rounded-md overflow-hidden">
                    <div class="w-full md:h-64 h-full ">
                        <img src="../images/index/e-summit.png" alt="E-Summit" class="w-full h-full object-contain" />
                    </div>
                  <div class="bg-white border-l-[1px] border-r-[1px] border-b-[1px] border-[#00457b]  rounded-bl-md rounded-br-md ">
                      <h1 class="font-semibold pt-4 px-2 md:text-3xl text-sm uppercase ">
                        E-Summit
                    </h1>
                    <h1 class=" pb-4 px-2 md:text-lg text-sm tracking-tight">Entrepreneurship Fest</h1>
                    </div>
                </div>
            </a>
        
        </div>
        
        </div>

        <div id="page9" class="w-full px-4 pb-20 bg-zinc-100/80">
          <h1
            class="main font-bold text-[#00457b] text-center lg:text-[3vw] md:text-[4vw] text-[6vw] mb-2 uppercase pt-2 pb-5">
            Campus News
          </h1>

          <div class="swiper mySwiper4">
            <div class="swiper-wrapper">
              <% notification.slice(0, 10).forEach(notification=> { %>
                <div class="swiper-slide">
                  <div class="bg-zinc-100/80 w-full h-full mb-2 overflow-hidden rounded-md event-box">
                    <div class="w-full h-72">
                      <img class="w-full h-full object-cover" src="<%= notification.image %>"
                        alt="Notification Image" />
                    </div>
                    <h1 class="text-[#00457b] font-semibold lg:text-[1.2vw] md:text-[2vw] text-[5vw] pt-2">
                      <%= notification.title %>
                    </h1>
                    <h1 class="px-4 text-white">
                      <%= notification.date %>
                    </h1>
                    <% if (notification.link) { %>
                      <div class=" pb-2">
                        <a href="/readMore" target="_blank" class="text-blue-500 hover:text-[#f26e32] hover:underline">
                          Read Full Notification
                        </a>
                      </div>
                    <% } %>
                  </div>
                </div>
              <% }); %>
            </div>
            <div class="swiper-button-next lg:-translate-y-14"></div>
            <div class="swiper-button-prev lg:-translate-y-14"></div>
            <div class="swiper-pagination"></div>
          </div>

          <div class="flex justify-center items-center mt-6">
            <a href="/readMore">
              <button
                class="px-10 py-2 text-[#f26e32] bg-zinc-100/80 font-semibold border-2 border-[#f26e32] hover:bg-[#f26e32] hover:scale-105 hover:text-white transition flex items-center gap-2 lg:text-[1vw] md:text-[1.8vw] text-[4vw]">
                Read More
              </button>
            </a>
          </div>
        </div>

        <div id="page8" class="page6b w-full lg:pb-30 pb-10 bg-zinc-100/80">
          <h1
            class="main font-bold text-[#00457b] text-center lg:text-[3vw] md:text-[4vw] text-[6vw] mb-2 uppercase pt-2 md:pb-5 uppercase">
            Placements at Campus
          </h1>
          <p class="text-center lg:text-[1vw] md:text-[2vw] text-[3vw] leading-none px-4 mb-10">
            About or Nearly 200 students from the campus sit for placements every
            semester, of these almost 100% succeed in securing a job.
          </p>
          <div class="marquee-container overflow-hidden w-full">
            <div class="marquee flex mb-10 flex lg:w-[200%] md:w-[300%] w-[600%] justify-evenly whitespace-nowrap">
              <div class="marquee-content flex justify-evenly w-full">
                <img class="md:h-12 h-10 object-contain" src="../images/logos/Accenture-Logo-3969515967.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/logo_v2-white-removebg-preview.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/Infosys_logo.svg.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/Cisco-logo.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/nvidia-logo-vert.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/Zscaler-Logo.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/Network-18-logo.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/Tata_Consultancy_Services_Logo.svg.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/Gold_Intuit-removebg-preview.png" alt="" />
              </div>

              <div class="marquee-content flex justify-evenly w-full">
                <img class="md:h-12 h-10 object-contain" src="../images/logos/Accenture-Logo-3969515967.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/logo_v2-white-removebg-preview.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/Infosys_logo.svg.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/Cisco-logo.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/nvidia-logo-vert.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/Zscaler-Logo.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/Network-18-logo.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/Tata_Consultancy_Services_Logo.svg.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/Gold_Intuit-removebg-preview.png" alt="" />
              </div>
            </div>
            <div class="marquee2 flex lg:w-[200%] md:w-[300%] w-[600%] justify-evenly whitespace-nowrap">
              <div class="marquee-content flex justify-evenly w-full">
                <img class="md:h-12 h-10 object-contain" src="../images/logos/cleverTap-removebg-preview.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/cognizant-removebg-preview.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/cred.avif" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/goldmanSachs-removebg-preview.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/Groww_app_logo.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/KPMG-Logo.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/Reliance-Jio-Logo-removebg-preview.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/Tech_Mahindra_New_Logo.svg.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/zomato.avif" alt="" />
              </div>

              <div class="marquee-content flex justify-evenly w-full">
                <img class="md:h-12 h-10 object-contain" src="../images/logos/cleverTap-removebg-preview.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/cognizant-removebg-preview.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/cred.avif" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/goldmanSachs-removebg-preview.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/Groww_app_logo.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/KPMG-Logo.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/Reliance-Jio-Logo-removebg-preview.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/Tech_Mahindra_New_Logo.svg.png" alt="" />
                <img class="md:h-12 h-10 object-contain" src="../images/logos/zomato.avif" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div id="page11" class="w-full  px-4 pt-10 pb-12 alumini">
          <h1
            class="main2 font-bold text-white text-center lg:text-[3vw] md:text-[4vw] text-[6vw] mb-2 uppercase  pb-6">
            STUDENT'S TESTIMONIAL
          </h1>
          <div class="lg:w-[90vw] lg:h-[90vh] w-[95%] h-[50%] mx-auto">
            <div class="swiper mySwiper8">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
              <div class="text-center text-white md:p-8 p-2 rounded-2xl w-full max-w-lg mx-auto">
                  <div class="md:w-50 md:h-50 w-36 h-36 rounded-full mx-auto mb-4 bg-cover bg-center border-3 border-white overflow-hidden">
                      <img class="w-full h-full object-cover"
                        src="https://media.licdn.com/dms/image/v2/D4D03AQFVY0hiTb6vdg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1712670357026?e=1746662400&v=beta&t=zbEQHnIMhZCw4gBwjPyHbC7BT_PGmfIhr43ladIKgx0"
                        alt="">
                    </div>
                    <div class="md:mt-5 mt-2 text-white font-black text-2xl truncate"><br>Dhanraj Mahurkar</div>
<div class="text-[#f26e32] text-xl font-semibold italic">Software Engineer at Lowes</div>
                   <div class="p-4 text-white font-semibold md:text-xl text-lg text-center leading-6"><br>"One of the best things that you will find here is an amazing peer
                      group.The training and placement cell keeps you well informed about the various opportunities
                      available. The teahers are helpful and easy to approach. We have projects every semester which
                      helps
                      to develop critical thinking."</div>
                  </div>
                </div>
                <div class="swiper-slide">
              <div class="text-center text-white md:p-8 p-2 rounded-2xl w-full max-w-lg mx-auto">
                  <div class="md:w-50 md:h-50 w-36 h-36 rounded-full mx-auto mb-4 bg-cover bg-center border-3 border-white overflow-hidden">
                      <img class="w-full h-full object-cover"
                        src="https://media.licdn.com/dms/image/v2/D5603AQG4Z9Dl-wZm0g/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1705842551010?e=1746662400&v=beta&t=PJPX0-fy-tXSP9u9WBE2Xa_1KI938m76t5zCXXUYd4M"
                        alt="">
                    </div>
                    <div class="md:mt-5 mt-2 text-white font-black text-2xl truncate"><br>Kartik Kinge</div>
<div class="text-[#f26e32] text-xl font-semibold italic">GenAI @ Sarvam AI</div>
                   <div class="p-4 text-white font-semibold md:text-xl text-lg text-center leading-6"><br>"The college has a mandatory 6-month semester internship program,
                      this
                      has proved to be most beneficial to gain industrial experience even before we graduate. Most of us
                      got placed during our internship including myself. "</div>
                  </div>
                </div>
                <div class="swiper-slide">
              <div class="text-center text-white md:p-8 p-2 rounded-2xl w-full max-w-lg mx-auto">
                  <div class="md:w-50 md:h-50 w-36 h-36 rounded-full mx-auto mb-4 bg-cover bg-center border-3 border-white overflow-hidden">
                      <img class="w-full h-full object-cover"
                        src="https://media.licdn.com/dms/image/v2/C5103AQE_diBGNOVbJg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1582742195377?e=1746662400&v=beta&t=x3ELNzKt1aBHA8qAqzNxeUaYrigBqCKeJKcO-iPmhnM "
                        alt="">
                    </div>
                    <div class="md:mt-5 mt-2 text-white font-black text-2xl truncate"><br>Arnav Khandekar</div>
<div class="text-[#f26e32] text-xl font-semibold italic">Software Engineer at Lowes</div>
                   <div class="p-4 text-white font-semibold md:text-xl text-lg text-center leading-6"><br>"The best part about IIIT NAGPUR is the kind of peers you get here.
                      The people here are from diverse backgrounds and interest from which you can learn a lot. Be it
                      coding, robotics, AR or any other thing, you will find students who are interested in them and
                      doing something good in that field."</div>
                  </div>
                </div>
                <div class="swiper-slide">
              <div class="text-center text-white md:p-8 p-2 rounded-2xl w-full max-w-lg mx-auto">
                  <div class="md:w-50 md:h-50 w-36 h-36 rounded-full mx-auto mb-4 bg-cover bg-center border-3 border-white overflow-hidden">
                      <img class="w-full h-full object-cover"
                        src="https://media.licdn.com/dms/image/v2/C4D03AQFpPuCIokh0ag/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1649526429322?e=1746662400&v=beta&t=G4NVcKQoQz9Y9UOKO2GZ-tMUE6cXFAoHWxC-QJD4t3E "
                        alt="">
                    </div>
                    <div class="md:mt-5 mt-2 text-white font-black text-2xl truncate"><br>Rutvik Page</div>
<div class="text-[#f26e32] text-xl font-semibold italic">Research Professional, University of Chicago</div>
                   <div class="p-4 text-white font-semibold md:text-xl text-lg text-center leading-6"><br>"The perenially available and efficient Training and Placement Cell
                      (TnP) does an impeccable task of exposing the students to world class facilities like webinars and
                      brings in fantastic job as well as internship opportunities that are instantiated by the superb
                      placement record."</div>
                  </div>
                </div>
                <div class="swiper-slide">
              <div class="text-center text-white md:p-8 p-2 rounded-2xl w-full max-w-lg mx-auto">
                  <div class="md:w-50 md:h-50 w-36 h-36 rounded-full mx-auto mb-4 bg-cover bg-center border-3 border-white overflow-hidden">
                      <img class="w-full h-full object-cover"
                        src="https://media.licdn.com/dms/image/v2/D5603AQGDQgwcBbAT8g/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1724055409372?e=1746662400&v=beta&t=9MoccScXaxtIXyBP9Mn2jy6COFbdpo4ly4kcnpd4JS0"
                        alt="">
                    </div>
                    <div class="md:mt-5 mt-2 text-white font-black text-2xl truncate"><br>Rohan Shukla</div>
<div class="text-[#f26e32] text-xl font-semibold italic">B. Tech CSE Batch 2021</div>
                   <div class="p-4 text-white font-semibold md:text-xl text-lg text-center leading-6"><br>"The focus of studies here is clearly on IT industrs asks over a
                      couple of decades and the institute makes every attempt to equip us in taking newer challenges in
                      the professional world. Professors here make sure that along with the guidance for the curriculum
                      courses."</div>
                  </div>
                </div>
                <div class="swiper-slide">
              <div class="text-center text-white md:p-8 p-2 rounded-2xl w-full max-w-lg mx-auto">
                  <div class="md:w-50 md:h-50 w-36 h-36 rounded-full mx-auto mb-4 bg-cover bg-center border-3 border-white overflow-hidden">
                      <img class="w-full h-full object-cover"
                        src="https://media.licdn.com/dms/image/v2/C5103AQGz-jc0wWPXzA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1563173986333?e=1746662400&v=beta&t=q52tLu4AWzUPFadb97rLZ_F6MovGeVrLoQqHS-8rZs8"
                        alt="">
                    </div>
                    <div class="md:mt-5 mt-2 text-white font-black text-2xl truncate"><br>Yashi kapoor</div>
<div class="text-[#f26e32] text-xl font-semibold italic">Associate at Goldman Sachs</div>
                   <div class="p-4 text-white font-semibold md:text-xl text-lg text-center leading-6"><br>"Working in a good company is a dream for almost anyone coming to an
                      engineering college. Had the same and got a chance to work in one. The credit for all this goes to
                      all the professors of this college. Would have been near impossible to achieve this without their
                      support."</div>
                  </div>
                </div>
                <div class="swiper-slide">
              <div class="text-center text-white md:p-8 p-2 rounded-2xl w-full max-w-lg mx-auto">
                  <div class="md:w-50 md:h-50 w-36 h-36 rounded-full mx-auto mb-4 bg-cover bg-center border-3 border-white overflow-hidden">
                      <img class="w-full h-full object-cover"
                        src="https://media.licdn.com/dms/image/v2/D5603AQF1vDuR4txrBA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1725857586509?e=1746662400&v=beta&t=jjVvvIyijAS4WNdgqtpYubYs5eGOhIiO2NEorvytV6c "
                        alt="">
                    </div>
                    <div class="md:mt-5 mt-2 text-white font-black text-2xl truncate"><br>Ankit Barai</div>
<div class="text-[#f26e32] text-xl font-semibold italic">Software Engineer 2 @Amazon | Ex- Jio-AI</div>
                   <div class="p-4 text-white font-semibold md:text-xl text-lg text-center leading-6"><br>"The kind of exposure given by the faculty to the students is
                      extraordinary. My recent achievement is that my team entered the finale of Covid19 Hackathon by
                      CDAC,Nvidia and Govt. of India. I wish to thank faculties,staff and all my peers at IIITN for
                      giving a shape to whatever I'm today."</div>
                  </div>
                </div>
                <div class="swiper-slide">
              <div class="text-center text-white md:p-8 p-2 rounded-2xl w-full max-w-lg mx-auto">
                  <div class="md:w-50 md:h-50 w-36 h-36 rounded-full mx-auto mb-4 bg-cover bg-center border-3 border-white overflow-hidden">
                      <img class="w-full h-full object-cover"
                        src="https://media.licdn.com/dms/image/v2/C4E03AQEjKfyQVZow5g/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1622925116319?e=1746662400&v=beta&t=j64Leh2Dlcr8NVOtTwNFSXWQOskpoGPkEi1WR1F3sWw "
                        alt="">
                    </div>
                    <div class="md:mt-5 mt-2 text-white font-black text-2xl truncate"><br>Ayushman Gehlot</div>
<div class="text-[#f26e32] text-xl font-semibold italic">B.Tech CSE Batch 2021</div>
                   <div class="p-4 text-white font-semibold md:text-xl text-lg text-center leading-6"><br>"I have received a placement offer from LTI. Complete placement
                      drive was well managed by LTI and our TNP cell. Pre-placement talk was also organized before the
                      selection process. Overall it was well organized and the selection procedure flow was crystal
                      clear."</div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>

        <div id="page4" class="w-full h-fit md:pb-24 py-8 lg:pb-20">
          <h1
            class="main font-bold text-[#00457b] text-center lg:text-[3vw] md:text-[4vw] text-[6vw] mb-2 uppercase pt-2 pb-5">
            Campus Life
          </h1>
            <div class="lg:w-[85vw] lg:h-[90vh] w-[95%] h-[50%] mx-auto">
            <div class="swiper mySwiper5 relative">
              <div class="swiper-wrapper">
              <% campusLife.forEach(function(item){ %>
                <div class="swiper-slide">
                <div
                  class="dets-box bg-[black]/60 md:w-[300px] md:h-[300px] w-[150px] h-[150px] absolute lg:bottom-[40px] bottom-[25px] lg:right-[50px] right-[30px] z-[99] text-white p-[10px]">
                  <p class="md:py-8 md:py-2 md:text-[16px] text-[7.5px]">
                  <%= item.title %>
                  </p>
                </div>
                <div
                  class="dets flex items-center justify-center lg:w-[60px] w-[40px] lg:h-[60px] h-[40px] rounded-full bg-[black]/90 absolute lg:bottom-[30px] md:bottom-[15px] bottom-[10px] lg:right-[40px] md:right-[15px] right-[10px] z-[100] text-white">
                  <i class="ri-lightbulb-line bulb text-white lg:text-[25px] text-[15px]"></i>
                </div>
                <img class="w-full h-full object-cover" src="<%= item.image %>" alt="<%= item.title %>" loading="lazy" />
                </div>
              <% }) %>
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-pagination"></div>
            </div>
            </div>
        </div>

        <div id="page10" class="w-full pb-20 bg-zinc-100/80">
          <h1
            class="main font-bold text-[#00457b] text-center lg:text-[3vw] md:text-[4vw] text-[6vw] mb-2 uppercase pt-2 pb-5">
            OUR PARTNERS
          </h1>
          <div class="flex md:flex-row flex-col items-center justify-center gap-4">
            <img class="w-50 object-fit translate-y-5 drop-shadow-2xl"
              src="../images/logos/unnamed-removebg-preview.png" alt="" />
            <img class="w-50 object-fit drop-shadow-2xl"
              src="../images/logos/eba0b3f922fd6ab7e48e4ca07e727252-removebg-preview.png" alt="" />
            <img class="w-84 object-fit drop-shadow-2xl" src="../images/logos/Tata_Consultancy_Services_Logo.svg.png"
              alt="" />
          </div>
        </div>

        <%- include('./partials/footer') %>
      </div>
  </body>

  <%- include('./partials/tail') %>