<% layout('./admin/layout/boilerplate.ejs') -%>

<body>
  <div class="container mt-4">
    <h2 class="p-4 ">Photo Carousel</h2>
    <div class="d-flex justify-content-end p-4">
        <a href="/admin/photoCarousel/new" class="btn btn-primary">Add New Items</a>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% data.forEach(item => { %>
      <div class="col">
        <div class="card h-100">
          <img src="<%= item.image %>" class="card-img-top" alt="<%= item.title %>" style="height: 200px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title"><%= item.title %></h5>
            <p class="mb-3"><b>Where it redirect:</b> <%= item.link %></p>
            <div class="d-flex gap-2">
              <a href="/admin/photoCarousel/<%= item._id %>" class="btn btn-success">Edit</a>
              <form action="/admin/photoCarousel/<%= item._id %>?_method=DELETE" method="POST" class="d-inline">
                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?')">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</body>