<%- include('../partials/head2') %> 
  <body>
    <%- include('../partials/nav') %> 
    <div class="bgin pb-20 w-full min-h-screen bg-white text-[#00457b]">
      <div class="w-full lg:h-[100px] md:h-[70px] h-[85px]"></div>

      <div class="mainContent w-full">
        <div
          class="routes w-full px-10 flex items-center gap-4 bg-[#00457b] py-5"
        >
          <a
            class="text-sm font-medium hover:text-blue-400 uppercase inline-block text-white"
            href="/"
            >Home <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a
            class="text-sm font-medium hover:text-blue-400 uppercase inline-block text-white"
            href="/basic_science/aboutDepartment"
            >Basic Sciences <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a
            class="text-sm font-medium hover:text-blue-400 uppercase inline-block text-white"
            href="#"
            >Projects
          </a>
        </div>

        <div class="content px-10 mt-16 mb-10">
          <h2 class="text-2xl uppercase font-bold text-[#00457b]">Projects</h2>
          <div class="w-full h-[1px] bg-[#00457b] mt-2"></div>
           <div class="flex flex-col gap-6 mt-8">
            <% if(data && data.length > 0) { %>
              <% data.forEach(project => { %>
                <div class="bg-zinc-100 p-4 rounded-lg shadow-md flex flex-col gap-4">
                  <h3 class="text-lg font-semibold text-[#00457b]">Project Title:</h3>
                  <p class="text-md font-bold text-black"><%= project.titleofProject %></p>
                  <div class="flex items-start gap-4">
                    <div class="w-2 bg-[#00457b] h-full"></div>
                    <p class="text-md font-normal leading-7">
                      <strong class="font-semibold text-black"><%= project.faculty %></strong>
                      <% if(project.typeOfProject) { %>
                        [<%= project.typeOfProject %>]
                      <% } %>
                      <% if(project.sponsoringAgency) { %>
                        funding agency <%= project.sponsoringAgency %>,
                      <% } %>
                      <% if(project.fundingAmount) { %>
                        Rs. <%= project.fundingAmount %> Lakh
                      <% } %>
                      <% if(project.year) { %>
                        (<%= project.year %>)
                      <% } %>
                    </p>
                  </div>
                </div>
              <% }) %>
            <% } else { %>
              <div class="bg-zinc-100 p-4 rounded-lg shadow-md">
                <p class="text-md font-normal leading-7">No projects available at the moment.</p>
              </div>
            <% } %>
           </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %> 
  </body>
  <%- include('../partials/tail2') %>